body{
    background: linear-gradient( 178.6deg,  rgba(20,36,50,1) 100%, rgba(124,143,161,1) 83.8% );
    color: whitesmoke;
}

#level{
    background: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
    font-size: 1.2em;
}

#game{
    position: relative;
width: 60vw;
height: 50vh;
top: 10em;
border: .2em solid whitesmoke;
color: whitesmoke;

}

#header {
 color: black;
    text-align: center;
    font-size: 1.5em;
background: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
}
#header img{
    width: 15%;
}

#tscore{

}

#words {
    padding: 8em;
    justify-content: center;
}

#startbtn{
    /* display: block;  */
    
}


#start{
    margin-top: -12em;
    justify-content: center;
}

#words button, #start button{
width: 10em;
height: 3em;

}

#words div, #start div{
    display: none; 


}


